* {
    font-family:
}

.navbar {
    padding: 10px 0;
}

.nav-link {
    color: #1d355d;
    font-weight: bold;
}

.nav-link:hover {
    color: red;
}

.bg-dark .py-5 {
    background-image: url(/media/BOGIE%20LUZ.mp4);
}

.singleline {
    font-size: 1em;
}

@media (min-width: 768px) {
    .singleline {
        font-size: 1.5em;
    }
}

.respiro {
    padding: 50px 0;
}

.desde {
    font-size: 4em;
}

.relacionados {
    max-width: 200px;
}

.relacionados:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

.footer {
    background-color: rgb(14, 26, 47);
    color: white;
}

.navbar-footer {
    color: white;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    text-align: right;
    font-size: 1.1em;
}

.sitios {
    color: #1D355D;
    font-weight: bold;
}

.text-blue {
    color: #1D355D;
}
